:root {
  /* Paleta Cores T2M */
  --branco: #fff;
  --branco-primario: #f3f5f6;
  --branco-secundario: #d9d9d9;
  --verde-primario: #013d32;
  --verde-secundario: #03a688;
  --cinza-primario: #585859;
  --cinza-secundario: #3d3d3d;
  --preto-primario: #0d0d0d;

  /* Cores Alertas */
  --vermelho-perigo: #fa5a54;
  --amarelo-atencao: #ffca2c;
  --azul-informativo: #5bc0de;
  --verde-sucesso: var(--verde-secundario);

  --cor-fonte: var(--cinza-secundario);
  --cor-fundo: var(--branco-primario);
}
.dark-mode:root {
  /* Paleta Cores T2M */
  --branco: #1a1717;
  --branco-primario: #0a0b0b;
  --branco-secundario: #0e0d0d;
  --verde-primario: #013d32;
  --verde-secundario: #03a688;
  --cinza-primario: #ededfa;
  --cinza-secundario: #f1efef;
  --preto-primario: #fdfafa;

  /* Cores Alertas */
  --vermelho-perigo: #f0322b;
  --amarelo-atencao: #fbe019;
  --azul-informativo: #1d7fc9;
  --verde-sucesso: var(--verde-secundario);

  --cor-fonte: var(--cinza-secundario);
  --cor-fundo: var(--branco-primario);
}
